<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <style type="text/css">
      body {
         font-family:Cantarell;      
      }
    #a-login-container {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      border-left:'1px solid grey';
    }
    .slash {
      color:lightgray;
    }

   </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script type="text/javascript">
       

window.onload = function(){


  var View = {
  
  
    config : {
       login : ['username','password'],
       register : ['username','password','email']    
    },

   _login : function(){
       let container = document.createElement('div');
       container.id = 'a-login-container';
       let that = this;
       container.style.width = 300 + 'px';
       //container.style.height = 230 + 'px';
       let innerHeight = window.innerHeight;
       container.style.overflow = 'hidden'
       container.style.top = (innerHeight -230)/3 + 'px';
       let input ;
       //container.appendChild(this._loginBox());
       
       let mainBox = document.createElement('div');
       container.appendChild(this._loginBox(mainBox));
       mainBox.id = 'a-login-mainBox';
       mainBox.style.position = 'relative'
       mainBox.animated = 'login'
       let loginDiv = document.createElement('div');
       loginDiv.id = 'a-login-loginDiv' ;
       loginDiv.style.width = 300 + 'px';
       loginDiv.style.float = 'left';        
       let registerDiv = document.createElement('div');
       registerDiv.id = 'a-login-registerDiv';
       
       loginDiv.style.width = 300 + 'px';
       registerDiv.style.width = 300 + 'px';
       registerDiv.style.float = 'right'
       
       registerDiv.style.height = 200 + 'px';
       mainBox.style.width = 600 + 'px';   
     
       
       this._fillRegister(registerDiv);
       this._fillLogin(loginDiv)
       
       mainBox.appendChild(loginDiv);
       mainBox.appendChild(registerDiv);  
       
       container.appendChild(mainBox)
       document.body.appendChild(container)
    },
    
    
    _fillRegister : function(register){
    	let that = this;
       this.config.register.forEach(function(elem){
          register.appendChild(that._createInput(elem,'register'))       
       })
       
       register.appendChild(this._term('I agree with this'))
    },
    
    _fillLogin : function(login){
      let that = this;
      this.config.login.forEach(function(elem){
          login.appendChild(that._createInput(elem,'login'))      
      })
      
      login.appendChild(this._term('Reset Password'))
      login.appendChild(this._createGuest());
    },
    
    _createGuest : function(){
        let that = this;        
        let div = document.createElement('div');
        div.innerHTML = 'or loggin as guest';
        div.style.width = 200 + 'px';
        div.style.marginLeft = 100 + 'px';
        div.style.color = 'lightsteelblue';
        div.style.textDecoration = 'underline';
        div.style.letterSpacing = '1px';
        div.style.marginTop = 15 + 'px';
        div.style.cursor = 'pointer'
        
        div.addEventListener('click',function(){
           that._ajax({user : 'guest', pass : '123456789',action:'login'})   
        })
        return div;    
    },
    
    
    
    _loginBox : function(mainBox){
        let that = this;        
        let loginTitle = document.createElement('div');
        loginTitle.style.height = 20 + 'px';
        loginTitle.style.width = 300 + 'px';
        loginTitle.style.fontSize = 16 + 'px';
        loginTitle.style.fontWeight = 600;
        loginTitle.style.marginLeft = 100 + 'px';
        
        let login = document.createElement('span');
        login.style.height = 20 + 'px';
        login.current = 1;
        login.innerHTML = 'Login'
        login.style.cursor = 'pointer'
        
        let register = document.createElement('span');
        register.style.height = 20 + 'px';
        register.style.color = 'lightgrey';
        register.innerHTML = 'Register' 
        register.style.cursor = 'pointer'     
        
        register.addEventListener('mouseenter',function(){
           if(mainBox.animated == 'register'){
               this.style.color = 'lightgrey'
               login.style.color = 'black'           
           }else{
                this.style.color = 'black'
                login.style.color = 'lightgrey'
           }        
        })        
        
        
        register.addEventListener('mouseleave',function(){ 
            if(mainBox.animated == 'register'){
                 this.style.color = 'black';
                 login.style.color = 'lightgrey'            
            }else{
                 this.style.color = 'lightgrey'
                 login.style.color = 'black'
            }        
        })
        
        
        register.addEventListener('click',function () { 
           let mainBox = document.getElementById('a-login-mainBox');          
           if(mainBox.animated == 'login'){
               mainBox.animated = 'register'
               this.style.color = 'black';
               login.style.color = 'lightgray'           	   
           	   $(mainBox).animate({left : '-=300'},200)  
           }        	  
        	
        })
        
        login.addEventListener('click',function(){
        	  let mainBox = document.getElementById('a-login-mainBox');
        	  if(mainBox.animated == 'register'){
               mainBox.animated ='login';        	
               this.style.color = 'black'    
               register.style.color = 'lightgray'
        	     $(mainBox).animate({left : '+=300'},200)  
        	  }
                    
        })
        let span = document.createElement('span');
        span.innerHTML = '/'
        span.classList.add('slash')
        loginTitle.appendChild(login);
        loginTitle.appendChild(span);
        loginTitle.appendChild(register)
        
        
        let slash = document.createElement('span');
        slash.innerHTML = '/'
        slash.classList.add('slash')
        loginTitle.appendChild(slash)
        let send = document.createElement('span');
        send.style.height = 20 + 'px';
        //send.style.backgroundColor = 'green';
        send.style.color = 'green';
        send.innerHTML = 'Send';
        //send.style.float = 'right';
        send.style.cursor  = 'pointer';
        send.style.marginTop = 18 + 'px';
        send.style.fontSize = 16 + 'px';
        send.style.fontWeight = 600;
        send.style.boxSizing = 'border-box';
        send.style.padding = 3 + 'px';
        send.style.textAlign = 'center';
        send.style.lineHeight = 16 + 'px';
        send.style.verticalAlign = 'middle';
        $(send).hover(function(){
             this.style.backgroundColor = 'green' ;
             this.style.color = 'white';       
        },function(){
              this.style.backgroundColor = 'white';
              this.style.color = 'green';        
        })
        
        send.addEventListener('click',function(){
             that._send();
        })
        
        
        loginTitle.appendChild(send)
        
        return loginTitle;
    },
    
    _term : function(title){
        let term = document.createElement('div');
        let span = document.createElement('span');
        
        term.style.width = 200 + 'px';
        span.innerHTML = title;
        span.style.marginLeft = 5 + 'px';
        let canvas = this._checkbox(20,20);
        canvas.style.float = 'left';
        canvas.style.cursor = 'pointer';
        canvas.style.position = 'relative';
        canvas.style.zIndex = 100;
        term.appendChild(canvas);
        term.appendChild(span);
        term.style.marginTop = 25 + 'px';
        term.style.marginLeft = 100 + 'px';
        term.style.position = 'relative';
        
        canvas.addEventListener('click',this._checked.bind(this,term))        
        return term;                 
    },
    
    _checked : function(term){
    	  let that = this;
        let canvas = document.createElement('canvas');
	     canvas.width = 20;
	     canvas.height = 20;      
	     let context = canvas.getContext('2d');	      
	     let radius = 1;	      
	     canvas.style.position = 'absolute'	      
	     
	     canvas.style.zIndex = 101;
	     canvas.style.left = 0;
	     canvas.style.top = 0;	     
	     	//canvas.id = 'm-menu';
		  term.appendChild(canvas);    
	             
        let id = window.setInterval(function(){ 
            if(radius > 4){
               clearInterval(id);               
               
               return;            
            }
            
         radius +=1;
	      context.beginPath();
	      context.arc(10,10,radius,0,2*Math.PI);
	      context.closePath();	
	      context.fillStyle = 'green';
	      context.fill();  

         },50)	
         
         canvas.addEventListener('click',function(){
              that._uncheck(this);       
         }) 
    },
    
    _uncheck : function(canvas){
           	      
      let radius = 4;
       
      let context = canvas.getContext('2d');
      let x = canvas.width/2;
      let y = canvas.height/2;
      let id = window.setInterval(function(){
          if(radius < 2){
             clearInterval(id);
             canvas.remove();            
          }
                     
      context.beginPath();
      context.arc(x, y, radius, 0, 2*Math.PI);
      context.lineWidth = 3;
      radius -= 2;      

      // line color
      context.strokeStyle = 'lightblue';
      context.stroke();  
          
                
      },50)  
    },
    
    _checkbox : function(width,height){       
        let canvas = document.createElement('canvas');
	      canvas.width = width;
	      canvas.height = height;      
	      let context = canvas.getContext('2d');
	      
	      let radius = width/2;
	      
	      context.beginPath();
	      context.arc(width/2,width/2,radius,0,2*Math.PI);
	      context.closePath();
	      context.fillStyle = 'lightblue';
	      context.fill();      
	      	      
	      canvas.addEventListener('click',function(){
             	      
	      });
	      
	      return canvas;  
    },
    
    
    _createInput : function(name,prefix){
        let mainContainer = document.createElement('div');
        let input = document.createElement('input');
        mainContainer.style.width = 300 + 'px';
        mainContainer.style.marginTop = 18 + 'px'
        mainContainer.style.position = 'relative';
        input.type = 'text';
        input.style.width = 200 + 'px';
        mainContainer.style.height = 20 + 'px';
        input.style.height = 20 + 'px';
        input.style.position = 'relative';
        input.style.left = 100 + 'px';
        input.style.border= 'none';
        input.style.borderBottom = '1px solid grey';
        input.style.padding = '3px';       
        input.id = prefix + '-' + name;
        input.style.paddingLeft = 0;
        input.style.boxSizing = 'border-box'        
        input.style.zIndex = 101;
        input.style.outline = 'none';
        input.style.opacity = 0.5;
        let title = document.createElement('span');
        title.style.height = 20 + 'px';
        title.style.position = 'absolute';
        title.style.zIndex = 100;
        title.innerHTML  = name;
        title.style.left = 100 + 'px'; 
        //title.style.paddingTop = 5 + 'px';
        title.style.color= 'black';
        title.style.boxSizing = 'border-box'
        title.style.paddingRight = 5 + 'px';
        
        input.classList.add('a-login-text');
                
        
        input.addEventListener('focus',function(){
        	    if(this.hasOwnProperty('animated')) return;
             let style = window.getComputedStyle(title);
             let width = style.getPropertyValue('width');
             let toLeft = parseInt(width) + 10;
             this.style.borderBottom = '2px solid red'
             this.style.paddingBottom = '1px'
             this.animated = true;
            
             $(title).animate({left : '-=' + toLeft+ 'px',paddingTop : '+=3'},200)        
        })        
        
        mainContainer.appendChild(input);
        mainContainer.appendChild(title);
       
        return mainContainer;    
    },
    
    _send : function(){
         let mainBox = document.getElementById('a-login-mainBox');
         
         let action = mainBox.animated;
         
         if(action == 'login'){
            let username = document.getElementById('login-username').value;
            let password = document.getElementById('login-password').value;   
            this._ajax({user : username, pass : password,action:'login'})      
         }
         
         if(action == 'register'){
            let username = document.getElementById('register-username').value;
            let password = document.getElementById('register-password').value;
            let email = document.getElementById('register-email').value;  
            
            this._ajax({user: username, pass : password, mail : email,action:'register'},'/login/register');       
         }         
    },
    
    _ajax : function(obj,url){
       let content = new XMLHttpRequest();
       content.open('POST','/')
       content.onreadystatechange = function(data){
         if(this.readyState == 4){
         window.location.reload()
         //document.open();
         //document.write(content.responseText);
        //document.close();
           
         }
       }
       
       content.setRequestHeader('Content-Type','application/json');
       content.setRequestHeader('action',obj.action);
       content.send(JSON.stringify(obj))
    }
    

  }
  
  View._login()
}

    
    </script>
    
    
  </head>
  
  
  <body>
  </body>
  
  </html>